@font-face {
  font-family: 'GothamRounded-Bold';
  src: font-url('Gotham/GothamRounded-Bold.eot');
  src: font-url('Gotham/GothamRounded-Bold.woff2') format('woff2'),
       font-url('Gotham/GothamRounded-Bold.woff') format('woff'),
       font-url('Gotham/GothamRounded-Bold.ttf') format('truetype'),
       font-url('Gotham/GothamRounded-Bold.svg#GothamRounded-Bold') format('svg'),
       font-url('Gotham/GothamRounded-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Bold';
  src: font-url('Lato/Lato-Bold.eot');
  src: font-url('Lato/Lato-Bold.woff2') format('woff2'),
       font-url('Lato/Lato-Bold.woff') format('woff'),
       font-url('Lato/Lato-Bold.ttf') format('truetype'),
       font-url('Lato/Lato-Bold.svg#Lato-Bold') format('svg'),
       font-url('Lato/Lato-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Hairline';
  src: font-url('Lato/Lato-Hairline.eot');
  src: font-url('Lato/Lato-Hairline.woff2') format('woff2'),
       font-url('Lato/Lato-Hairline.woff') format('woff'),
       font-url('Lato/Lato-Hairline.ttf') format('truetype'),
       font-url('Lato/Lato-Hairline.svg#Lato-Hairline') format('svg'),
       font-url('Lato/Lato-Hairline.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Medium';
  src: font-url('Lato/Lato-Medium.eot');
  src: font-url('Lato/Lato-Medium.woff2') format('woff2'),
       font-url('Lato/Lato-Medium.woff') format('woff'),
       font-url('Lato/Lato-Medium.ttf') format('truetype'),
       font-url('Lato/Lato-Medium.svg#Lato-Medium') format('svg'),
       font-url('Lato/Lato-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Regular';
  src: font-url('Lato/Lato-Regular.eot');
  src: font-url('Lato/Lato-Regular.woff2') format('woff2'),
       font-url('Lato/Lato-Regular.woff') format('woff'),
       font-url('Lato/Lato-Regular.ttf') format('truetype'),
       font-url('Lato/Lato-Regular.svg#Lato-Regular') format('svg'),
       font-url('Lato/Lato-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lato-Semibold';
  src: font-url('Lato/Lato-Semibold.eot');
  src: font-url('Lato/Lato-Semibold.woff2') format('woff2'),
       font-url('Lato/Lato-Semibold.woff') format('woff'),
       font-url('Lato/Lato-Semibold.ttf') format('truetype'),
       font-url('Lato/Lato-Semibold.svg#Lato-Semibold') format('svg'),
       font-url('Lato/Lato-Semibold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Thin';
  src: font-url('Lato/Lato-Thin.eot');
  src: font-url('Lato/Lato-Thin.woff2') format('woff2'),
       font-url('Lato/Lato-Thin.woff') format('woff'),
       font-url('Lato/Lato-Thin.ttf') format('truetype'),
       font-url('Lato/Lato-Thin.svg#Lato-Thin') format('svg'),
       font-url('Lato/Lato-Thin.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
